@import url('https://fonts.googleapis.com/css2?family=Honk&family=Sixtyfour&display=swap');

body{
    background-color: #F6FDC3;
}
*{
    font-family: 'Honk';
}
td{
    border: 1px solid black ;
    height: 100px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    font-family: sans-serif;
}

table{
    border-collapse: collapse;
    position: absolute;
    top: 20%;
    left: 35%;
    height: 500px;
    width: 500px; 
}

table :first-child td{
    
    border: 5px solid #211951;
    border-top: 0;
}

table tr:last-child td{
    border-bottom: 0;
}

table tr td:first-child{
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.endgame{
    align-items: center;
    display:none ;
    height: 200px;
    width: 500px;
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 45px;
    color: #F0F3FF;
    background-color: #836FFF;
    border: 5px solid #211951;
    border-radius: 10px;
}

.styling-endgame-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    
}

.styling-endgame-div > button{
    margin-top: 3%;
    font-size: 36px;
    background-color: #15F5BA;
    color: #211951;
    border-radius: 50px;
    border: 5px solid #211951;
    padding: 2%;

}


.heroheading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.heroheading > h1{
    margin-left: 2%;
    font-size: 60px;
    color: #7E30E1;
    font-family: 'Honk';
}